<%- include('header'); -%>


<div class="box" id="heading">
  <h1><%= titleHead %></h1>
</div>

<div class="box">
  <% newItemArray.forEach(element => { %>
    <% if (element !== '') { %>
      <div class="item">
        <input type="checkbox">
        <p><%= element  %></p>
      </div>
      <% } %>
      <% }) %>
      
      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="Ex.: Watch news" autocomplete="off">
        <button type="submit" name="button" value=<%= titleHead %>>+</button>
      </form>
      
    </div>
    
    
    <%- include('footer'); -%> 
    
    